<footer class="probootstrap-footer ">
  <div class="container-fluid cf2">
    <br><br>
    <div class="row ">

      <div class="col-md-4">
        <div class="probootstrap-footer-widget">
          <h3>About ACM</h3>
          <p>The Association for Computing Machinery (ACM) is an international learned society for computing. It was
            founded in 1947, and is the world's largest scientific and educational computing society. The ACM is a
            non-profit professional membership group, with more than 100,000 members as of 2011. Its headquarters are
            in New York City.</p>

        </div>
      </div>
      <div class="col-md-3 col-md-push-1">
        <div class="probootstrap-footer-widget">
          <h3>Social</h3>
          <ul>
            <li><a href="https://www.facebook.com/acmpict/"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="https://www.instagram.com/acm.pict/?hl=en"><i class="fab fa-instagram"></i> Instagram</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="probootstrap-footer-widget">
          <h3>Contact Info</h3>
          <ul class="probootstrap-contact-info">
            <li><i class="fas fa-map-marker-alt"></i> <span>Survey No. 27, Near Trimurti Chowk, Dhankawadi, Pune,
                Maharashtra 411043</span></li>
            <li><i class="fas fa-envelope"></i><span> acm.pict@gmail.com</span></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- END row -->

  </div>

  <div class="probootstrap-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-left">
          <p>© 2019 PICT ACM Student Chapter. All Rights Reserved. Designed &amp; Developed with <i
              class="fas fa-heart"></i> by PASC Web Team</p>
        </div>
        <div class="col-md-4 probootstrap-back-to-top">
          <p><a href="#" class="js-backtotop">Back to top <i class="fas fa-arrow-up"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>