

<div  id="intro">
  <div class="row justify-content-center align-items-end logo">
    <img src="/assets/homeimage/pasc.png">
  </div>
 

  <div class="row text-center justify-content-center align-items-start logo">
    <div class="col-12">
        <h1>PICT ACM Student Chapter</h1>
    </div>
  </div>
</div>

 
   <!--Nav bar-->
  

  



<!--_____________________________
        About PASC
__________________________________-->
<section id="about">
  <div class="parallax">
  <div class="row justify-content-center align-items-end pc">
    
 <div class="container"> 
  <div class=" col-12">
  <div class="parallax-content fadeInUpBig">
    
    <h3>About PASC</h3>
    <p>PICT ACM student chapter (PASC) was established in 2011 with a view of fostering technical and non-technical qualities in an individual and helping them to shape their destiny. PASC started off with 4 founding members and in such a short period, PASC has grown to a big student chapter of nearly more than 300 ACM members. Appreciating our endeavour, PASC is awarded as BEST ACM STUDENT CHAPTER in India, on February 2018</p>
  </div>
  </div>
  </div>
</div>

<div class="container">
  <div class=" row text-center count">

    <div class="col-lg-6 col-12">
    <input type="button" name="report" value="Veiw Annual report of AY 2019">
    </div>
    
    <div class="col-lg-6 col-12">
    <input type="button" name="more" value="Learn More">
    </div>
    </div>
  </div>


<!--_____________________________
             counters
_________________________________-->
<div class="container" >
<div class="row ">

  <!-- <div class="col-sm-12 col-lg-3 counter "> 
    <i class="fa fa-code fa-2x"></i>
    <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
     <p class="count-text ">SomeText GoesHere</p>
  </div> -->


    <div class="col-12 col-lg-3 crd" >
      <div class=" card card-body card-text text-center ">
        <i class="fa fa-code fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
        <p class="count-text ">SomeText GoesHere</p>
      </div>
    </div>

    
    <div class="col-12 col-lg-3  crd" >
      <div class="card card-body  text-center">
        <i class="fa fa-code fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
        <p class="count-text ">SomeText GoesHere</p>
      </div>
    </div>

    
    <div class="col-12 col-lg-3 crd" >
      <div class=" card card-body  text-center ">
        <i class="fa fa-code fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
        <p class="count-text ">SomeText GoesHere</p>
      </div>
    </div>

    
    <div class="col-12 col-lg-3 crd" >
      <div class="card card-body card-text text-center ">
        <i class="fa fa-code fa-2x"></i>
        <h2 class="timer count-title count-number" data-to="300" data-speed="1500"></h2>
        <p class="count-text ">SomeText GoesHere</p>
      </div>
    </div>

 

  <!-- <div class="col-sm-12 col-lg-3 counter  ">
    <i class="fa fa-coffee fa-2x"></i>
    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
    <p class="count-text ">SomeText GoesHere</p>
  </div>

  <div class="col-sm-12 col-lg-3 counter ">
    <i class="fa fa-lightbulb-o fa-2x"></i>
    <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
    <p class="count-text ">SomeText GoesHere</p>
  </div>

  <div class=" col-sm-12 col-lg-3 counter ">
    <i class="fa fa-bug fa-2x"></i>
    <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
    <p class="count-text ">SomeText GoesHere</p>
  </div> -->


</div>
</div>

</div>
</section>


<!--_______________________________
            Our Team
___________________________________-->

    <section id="team">
    <div class="container">
      <div class="section-header">
        <h2>Meet Our Team</h2>
      </div>

      <div class="row justify-content-center">

        <!-----------------1------------------>
        <div class="col-lg-3 col-md-6  wow fadeInUp">
          <div class="member">
            <img src="/assets/homeimage/team.png" class="img-fluid">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Dr. Geetanjali Kale</h4>
                <span>Teacher Guardian</span>
                <div class="social">
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!----------------2------------------>
        <div class="col-lg-3 col-md-6  wow fadeInUp">
          <div class="member">
            <img src="/assets/homeimage/team.png" class="img-fluid">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Nachiket Erlekar</h4>
                <span>Chairman</span>
                <div class="social">
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!------------------3----------------->
        <div class="col-lg-3 col-md-6  wow fadeInUp">
          <div class="member">
            <img src="/assets/homeimage/team.png" class="img-fluid">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Tanush Maddiwar</h4>
                <span>Vice-Chairman</span>
                <div class="social">
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!------------------4------------->
        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <img src="/assets/homeimage/team.png" class="img-fluid">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Swetali Shimangaud</h4>
                <span>Secretary</span>
                <div class="social">
                  <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

              <div class="row justify-content-center">

        <!-----------------5------------------>
        

        <!----------------6------------------>
        

        <!------------------7----------------->
        

        <!------------------8------------->
       

      </div>

    </div>
  </section>

<!--_____________________________________
            Benefits of PASC
__________________________________________-->

<section id="benefits">
<h2>Member Benefits of PASC</h2>
<h5>Be a part of this great organization and get exposed to a plethora of opportunities!</h5>
        <div class="row justify-content-center">

        <div class="col-md-6 col-lg-4 " >
          <div class="box">
            <h4 class="title">Complimentary Subscription to Communications</h4>
            <p class="description">Chapter Members are eligible for a three-month complimentary electronic subscription to ACM’s flagship publication Communications of the ACM.</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 " >
          <div class="box">
            <h4 class="title">Receipt of ACM’s Popular E-Newsletters</h4>
            <p class="description">TechNews, the latest news in computing, 3x weekly; CareerNews, the latest career and industry news, bi-monthly; and MemberNet, all about ACM people and events monthly.</p>
          </div>
        </div>
      </div>

        <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 " >
          <div class="box">
            <h4 class="title">acm.org email address</h4>
            <p class="description">Chapter members are eligible for an “acm.org” email forwarding address with filtering</p>
          </div>
        </div>


        <div class="col-md-6 col-lg-4  " >
          <div class="box">
            <h4 class="title">ACM Student Quick Takes (SQT)</h4>
            <p class="description">A quarterly email newsletter with each issue highlighting ACM activities, programs, and offerings of interest</p>
          </div>
        </div>
      </div>

        <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 " >
          <div class="box">
            <p class="description">A full-year electronic subscription to XRDS, ACM’s Student Magazine</p>
          </div>

        </div>
        <div class="col-md-6 col-lg-4 " >
          <div class="box">
            <p class="description">CareerNews, ACM's twice monthly email career news digest</p>
          </div>
        </div>
        </div>
      
</section>